/* 기본 스타일 */
.App {
  font-family: Arial, sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

ul {
  display: flex;
  flex-direction: column;  /* 항목들을 수직으로 배치 */
  list-style-type: none;  /* 기본 목록 스타일 제거 */
}

li {
  border-top: 1px dotted #ccc; /* 항목 위쪽에 점선 경계 */
  width: 100%; /* li 항목을 부모 컨테이너에 맞게 채움 */
}

@font-face {
  font-family: "establish Retrosans";
  font-weight: normal;
  src: url("./font/establish Retrosans.ttf") format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-button {
  position: absolute;
  left: 20px;
  font-size: 20px;
  background: none;
  background-color: white;
  cursor: pointer;
  z-index: 1000;
  border: none;
}

/* 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999;
  background: rgba(0, 0, 0, 0); /* 초기 비가시 상태 */
  visibility: hidden; /* 초기 상태 */
  opacity: 0; /* 초기 투명 */
  transition: visibility 0.3s, opacity 0.3s ease;
}

.overlay.visible {
  background: rgba(0, 0, 0, 0.3); /* 반투명 배경 */
  visibility: visible; /* 표시 */
  opacity: 1; /* 불투명 */
}

/* 네비게이션 바 */
.side-nav {
  width: 70%; /* 7:3 비율 */
  max-width: 400px;
  height: 100%;
  background: white;
  color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: -50%; /* 숨김 */
  top: 0;
  transition: left 0.3s ease;
}

.side-nav.slide-in {
  left: 0; /* 나타남 */
}

.side-nav.slide-out {
  left: -50%; /* 숨김 */
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  
}

.side-nav a,
.menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: none;
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

/* 하위 메뉴 스타일 */
.sub-menu {
  max-height: 0; /* 초기 숨김 상태 */
  overflow: hidden;
  transition: max-height 0.3s ease; /* 슬라이드 효과 */
}

.sub-menu.open {
  max-height: 500px; /* 충분히 큰 값 */
}

.sub-menu.closed {
  max-height: 0; /* 숨김 */
}

.sub-menu li {
  margin: 0px;
  padding: 0%;
}

.sub-menu a {
  padding-left: 15px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  width: 100%;
  height: 10px;
  align-items: center;
}

/* 반투명 영역 */
.transparent-section {
  width: 30%; /* 7:3 비율 */
  height: 100%;
  cursor: pointer;
}

/* 메인 콘텐츠 */
.content {
  overflow-y: scroll;
  padding: 0px;
  margin-top: 70px;
  z-index: 1;
}

/* 하단 고정 네비게이션 스타일 */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000; /* 다른 요소보다 위에 표시 */
}

.bottom-nav-item {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.bottom-nav-item:hover {
  color: #00bcd4;
  text-decoration: underline;
}

/* 전체 레이아웃 조정 */
.content {
  padding-bottom: 60px; /* 하단 네비게이션 공간 확보 */
}

/* 2x3 그리드 스타일 */
.grid-container-nav {
  position: fixed;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0px;
  margin-top: 40px;
  z-index: 2000; /* 다른 요소보다 위에 표시 */
}


/* 2x2 그리드 스타일 */
.grid-container-2by2 {
  position: fixed;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  padding: 0px;
  margin-top: 40px;
  z-index: 2000; /* 다른 요소보다 위에 표시 */
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0px;
  background-color: #fff;
  padding: 10px;
  border: px solid #ccc;
  border-radius: 0px;
  margin-top: 40px;
}

.grid-container-item {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  text-decoration: dotted;
  font-size: 12px;
}

.grid-item {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 0px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.grid-item.active {
  background-color: #00bcd4;
  color: white;
}

.submenu-toggle-icon {
  width: 16px; /* 이미지의 너비 */
  height: 16px; /* 이미지의 높이 */
  margin-left: 10px; /* 텍스트와 이미지 간 간격 */
  vertical-align: middle; /* 텍스트와 수평 정렬 */
}

.section1 {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: left;     /* 세로로 가운데 정렬 */
  background-image: url('img/logo-mid.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.section2 {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: left;     /* 세로로 가운데 정렬 */
  background-image: url('img/medicalsubject.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* opacity: 0;  기본 상태는 숨김 */
  /* transform: translateY(20px); 아래에서 올라오는 효과 */
  /* transition: opacity 1s ease, transform 1s ease; */
}

.section3 {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: left;     /* 세로로 가운데 정렬 */
  background-image: url('img/res3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0;  기본 상태는 숨김 */
  /* transform: translateY(20px); 아래에서 올라오는 효과 */
  /* transition: opacity 1s ease, transform 1s ease; */
}

.section4 {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: Center;     /* 세로로 가운데 정렬 */
  background-image: url('img/res4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0;  기본 상태는 숨김 */
  /* transform: translateY(20px); 아래에서 올라오는 효과 */
  /* transition: opacity 1s ease, transform 1s ease; */
}

.section-text {
  align-items: center;     /* 세로로 가운데 정렬 */
}

.section-text.in-view {
  align-items: center;     /* 세로로 가운데 정렬 */
  font-family: 'establish Retrosans', sans-serif;
  font-size: 1.3rem;
  /* text-align: center; */
  text-align: left;
  
  animation: fadeIn 1.5s ease-out;
  color: #fff;
  text-shadow: 
        2px 2px 0px rgb(37, 36, 36),   /* 오른쪽 아래 */
       -2px 2px 0px rgb(37, 36, 36),   /* 왼쪽 아래 */
        2px -2px 0px rgb(37, 36, 36),  /* 오른쪽 위 */
       -2px -2px 0px rgb(37, 36, 36);  /* 왼쪽 위 */
}