.ImageLoader {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageLoaderSrc {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    max-width: 720px;
    max-height: 720px;
    min-width: 100px; /* 최소 크기 제한 */
    min-height: 100px; /* 최소 크기 제한 */
    width : 100vw;
    transition: transform 0.3s ease; /* 애니메이션 */
}